@font-face{
    font-family: "kokumin";
    src: url("/asset?plugin=VacuumTube&filename=kokumin.ttf");
}
body{
    margin:0;
    color:#fff;
    overflow-x:hidden;
    font-family:"kokumin";
}
a{
    text-decoration:none;
}
button{
    height:40px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:0 16px;
    border:0;
    border-radius:4px;
    box-sizing:border-box;
    box-shadow:0 5px 10px -8px #000;
    background-color:#e52f36;
    font-weight:bold;
    font-family:"kokumin";
    color:#fff;
}
@mixin pc{
    @media screen and (min-width:600px){
        @content;
    }
}
@mixin sp{
    @media screen and (max-width:600px){
        @content;
    }
}
#trigger{
    display:none;
    &:checked+#container{
        margin-left:0;
        @include sp{
            header h1 svg{
                fill:#fff;
            }
        }
    }
}
#container{
    width:100%;
    display:grid;
    transition: margin 0.4s;
    @include pc{
        grid-template-columns:300px 1fr;    
    }
    @include sp{
        grid-template-columns:300px 100vw;    
        margin-left:-300px;
    }
}
@import "header.scss";
@import "main.scss";
