{% extends "skeleton.tpl.html" %}
{% block content %}
    <dialog id="delete_dialog">
        <h1 id="delete_path"></h1>
        <p id="delete_description">この操作のあと、復元することはできません</p>
        <form id="delete_actions" method="POST" action="/admin/delete">
            <input type="hidden" name="path" id="delete_path_field">
            {{csrf_field()}}
            <button id="cancel" type="button">キャンセル</button>
            <button>削除</button>
        </form>
    </dialog>
    <dialog id="create_section_dialog">
        <h1>セクションを作成</h1>
        <dl>
            <dt>パス</dt>
            <dd>
                <input type="text" name="path" value="{{path}}">
            </dd>
        </dl>
    </dialog>
    <h2>{{path_raw}}の記事</h2>
    {% if upper %}
    <div id="upper">
        <a href="/admin/articles?path={{upper}}">一つ上のセクションへ</a>
    </div>
    {% endif %}
    <div id="action_list">
        <a href="/admin/editor?path={{path}}"><button>このセクションに投稿</button></a>
        <a href="/admin/section?path={{path}}"><button>新規セクション</button></a>
    </div>
    <div id="articles">
        {% if sections|length>0 %}
        {% for section in sections %}
            <div class="item section">
                <div class="detail">
                    <div class="title">
                        <a href="/admin/articles?path={{section.path}}">
                            {{section.title}}
                        </a>
                    </div>
                    <div class="slug">
                        {{section.slug}}
                    </div>
                </div>
                <div class="action">
                    <button onclick="del('{{section.path}}')">
                        セクションを削除
                    </button>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if index|length>0 %}
            <div class="item page">
                <div class="detail">
                    <div class="title">
                        {{index.title}}
                    </div>
                    <div class="slug">
                        __index
                    </div>
                </div>
                <div class="action">
                    <a href="/admin/editor?slug=__index&path={{path}}">
                        目次ページを編集
                    </a>
                </div>
            </div>
        {% endif %}
        {% if menu|length>0 %}
            <div class="item page">
                <div class="detail">
                    <div class="title">
                        メニュー
                    </div>
                    <div class="slug">
                        __menu
                    </div>
                </div>
                <div class="action">
                    <a href="/admin/editor?path={{path}}&slug=__menu">
                        メニューを編集
                    </a>
                </div>
            </div>
        {% endif %}
        {% if pages|length>0 %}
        {% for page in pages %}
            <div class="item page">
                <div class="detail">
                    <div class="title">
                        {{page.title}}
                    </div>
                    <div class="slug">
                        {{page.slug}}
                    </div>
                </div>
                <div class="action">
                    <a href="/admin/editor?path={{path}}&slug={{page.slug}}">
                        記事を編集
                    </a>
                    <button onclick="delete('{{page.path}}')">
                        記事を削除
                    </button>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <script>
        const dialog=document.querySelector("#delete_dialog");
        function del(path){
            document.querySelector("#delete_path_field").value=path;
            dialog.showModal();
        }
        document.querySelector("#cancel").onclick=function(){
            dialog.close();
        }
    </script>
{% endblock %}
