{% extends "skeleton.tpl.html" %}
{% block content %}
    <h2>セクションを作成</h2>
    <form method="POST" id="editor">
        <dl>
            <dt>セクションのパス</dt>
            <dd>
                <input name="path" type="text" placeholder="記事のパス" value="{{path}}">
            </dd>
            <dt>セクションタイトル</dt>
            <dd>
                <input type="text" name="title" placeholder="">
            </dd>
        </dl>
        {{ csrf_field() }}
        <div>
            <button>作成</button>
        </div>
    </form>
{% endblock %}
