{% extends "skeleton.tpl.html" %}
{% block content %}
    <h2>ユーザー一覧</h2>
    <div id="action_list">
        <a href="/admin/invite"><button>ユーザーを招待</button></a>
    </div>
    <div id="users">
        {% if users|length>0 %}
        {% for user in users %}
            <div class="item user">
                <div class="detail">
                    <div class="name">
                        {{user.name}}
                    </div>
                    <div class="screen_name">
                        {{user.screen_name}}
                    </div>
                </div>
                <div class="action">
                    <a href="/admin/discard?user={{user.id}}"><button>管理者から削除</button></a>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <h3>招待中</h3>
    <div id="invite">
        {% if invites|length>0 %}
        {% for user in invites %}
            <div class="item invite">
                <div class="detail">
                    <div class="name">
                        {{user.name}}
                    </div>
                    <div class="screen_name">
                        {{user.screen_name}}
                    </div>
                </div>
                <div class="action">
                    <div>
                        <h6>トークンURL</h6>
                        <input type="text" value="{{user.url_token}}">
                    </div>
                    <a href="/discard?invite={{user.id}}"><button>キャンセル</button></a>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>

    <script>
        const dialog=document.querySelector("#delete_dialog");
        function delete(path){
            dialog.showModal();
        }
        document.querySelector("#cancel").onclick=function(){
            dialog.close();
        }
    </script>
{% endblock %}
